@using Comically
@using Comically.data

<html>
<head>
    <title>Comically - Home</title>
    <link rel="stylesheet" type="text/css" href="/content/style.css" />
    <meta charset="utf-8">
</head>
    <body>
        @Html.Partial("partials/header.cshtml")
        @Html.Partial("partials/nav.cshtml", SitePages.HOME)
        <div id="main">
            <div id="cards">
                @foreach (Comic current in @Model)
                {
                    @Html.Partial("partials/card.cshtml", current)
                }
            </div>
        </div>
    </body>
</html>