@using Comically

<html>
    <head>
        <title>Comically - Home</title>
        <link rel="stylesheet" type="text/css" href="/content/style.css" />
        <meta charset="utf-8">
    </head>
    <body>
        @Html.Partial("partials/header.cshtml")
        @Html.Partial("partials/nav.cshtml", SitePages.OTHER)
        <div id="main">
            <h1>@Model.Title</h1>
            <img src="data:image;base64, @Model.CoverImage" />
        </div>
    </body>
</html>