@using Nancy.Helpers

<a href="/info/@Model.ComicInfo.Id">
    <div class="card">
        <img src="data:image;base64, @Model.CoverImage" />
        <span class="card-title">@Model.ComicInfo.Title</span>
    </div>
</a>