@using Nancy.Helpers

<a href="@Model.LinkTarget" class="card-outer-link">
    <div class="card">
        <img src="data:image;base64, @Model.Image" />
        <span class="card-title">@Model.Title</span>
    </div>
</a>