<div id="nav">
    <ul>
        <li>Home</li>
        <li>Recently Updated</li>
        <li>Recently Added</li>
        <li>Unread</li>
        <li>Top Ranked</li>
        <li>Tags</li>
    </ul>
</div>